/*:root{*/
/*    font-size:10px;*/
/*}*/
/*滚动条整体部分,必须要设置*/
::-webkit-scrollbar{
     width: 4px;
     height: 4px;
     background-color: #999;
}
/*滚动条的轨道*/
::-webkit-scrollbar-track{
     background-color: #ddd;
}
/*滚动条的滑块按钮*/
::-webkit-scrollbar-thumb{
     background-color: #ccc;
}
/*滚动条的上下两端的按钮*/
::-webkit-scrollbar-button{
     height: 5px;
     background-color: #fff;
}

html {
    /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
    -ms-overflow-style:none;
    /*火狐下隐藏滚动条*/
    overflow:-moz-scrollbars-none;
    /*overflow-x:auto;*/
    /*overflow-y:scroll;*/
    font-size:10px;
    height: 100%;
}

body, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, p, blockquote, th, td {
    font-weight:400;
    margin:0;
    padding:0;
}
h1, h2, h3, h4, h4, h5 {
    margin:0;
    padding:0;
}
body {
    background-color:#FFFFFF;
    color:#666666;
    font-family:Helvetica,Arial,sans-serif;
    font-size:12px;
    padding:0 0;
    text-align:left;
    position: relative;
    height: 100%;
}
select {
    font-size:12px;
}
table {
    border-collapse:collapse;
}
fieldset, img {
    border:0 none;
}
fieldset {
    margin:0;
    padding:0;
}
fieldset p {
    margin:0;
    padding:0 0 0 8px;
}
legend {
    display:none;
}
address, caption, em, strong, th, i {
    font-style:normal;
    font-weight:400;
}
table caption {
    margin-left:-1px;
}
hr {
    border-bottom:1px solid #FFFFFF;
    border-top:1px solid #E4E4E4;
    border-width:1px 0;
    clear:both;
    height:2px;
    margin:5px 0;
    overflow:hidden;
}
ol, ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}
caption, th {
    text-align:left;
}
q:before, q:after, blockquote:before, blockquote:after {
    content:"";
}
a{
    text-decoration:none;
}


.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 128px;
    height: 128px;
    line-height: 128px !important;
    text-align: center;
}
.avatar {
    width: 178px;
    height: 178px;
    display: block;
}
/*.box > /deep/ .el-dialog__body {*/
/*    padding: 0;*/
/*}*/

/*.box > /deep/ .el-dialog__footer {*/
/*    padding: 0;*/
/*}*/
